/* General Styles */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navbar a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.navbar a:hover {
    color: rgb(43, 118, 232);
    background-color: rgb(43, 118, 232);
    color: white;
}

/* Home Section */
.home-section {
    height: 550px;
    display: flex;
    align-items: center;
    background: #f4f4f4;
    padding: 2rem;
}

.home-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(149, 160, 167);
    border-radius: 0% 90% 0% 90%;
    transition: transform 0.3s, background-color 0.3s;
}

.home-content:hover {
    transform: scale(1.05);
    background-color: rgb(205, 231, 248);
}

.welcome-message {
    margin: auto;
    width: 50%;
    padding: 1rem;
    transition: color 0.3s;
}

.welcome-message:hover {
    color: rgb(43, 118, 232);
}

.home-image img {
    width: 300px;
    margin-right: 130px;
    border-radius: 50%;
    transition: border 0.3s, transform 0.3s;
}

.home-image img:hover {
    border: 4px solid rgb(18, 18, 18);
    transform: scale(1.05);
}

.social-icons i {
    font-size: 24px;
    margin-right: 10px;
    color: #333;
    transition: color 0.3s, transform 0.3s;
}

.social-icons i:hover {
    color: lightblue;
    transform: scale(1.2);
}


/* About Section */
.about-section {
    padding: 1rem;
    background: #f9f9f9;
    text-align: center;
    position: relative;
    top: -100px; /* Moves the section upwards by 50px */
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    background-color: #333;
    color: white;
    padding: 1rem;
    border-radius: 2px 20px;
    width: 20%;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s, box-shadow 0.5s;
}

.card::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transition: all 0.5s;
    transform: rotate(45deg);
}

.card:hover::after {
    top: -10%;
    left: -10%;
    transition: all 0.5s;
    border: 3px solid white;
}

.card:hover {
    background-color: rgb(96, 107, 122);
    transform: scale(1.02);
}


/* Projects Section */ 
.projects-section { 
    padding: 2rem; 
    background: #f4f4f4; 
    margin-top: -40px;
} 
.project-card { 
    margin:2rem;
    background-color: #222; 
    color: white; 
    padding: 1rem; 
    border-radius: 8px; 
    margin-bottom: 1rem; 
    position: relative; 
    overflow: hidden; 
} 
.project-card::before { 
    content: ''; 
    position: absolute; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%; 
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 30%,
     rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 70%); transition: all 0.5s ease; 
    transform: rotate(45deg); 
    z-index: 0; 
} 
.project-card:hover::before { 
    top: -10%; 
    left: -10%; 
    transition: all 0.5s ease; 
} 
.project-card:hover { 
    background-color: rgb(96, 107, 122); 
    transform: scale(1.03); 
    border: 3px solid white;
} 
.project-card > * { 
    position: relative; 
    z-index: 1;
}

/* Contact Section */
.contact-section {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-top: -20px;
}


.contact-card {
    background: rgb(149, 160, 167);
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.contact-card:hover {
    background: rgb(96, 107, 122);
    border:3px solid #feffff;
}

.contact-card input, .contact-card textarea {
    width: 97%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: none;
}


.contact-card button {
    background-color: #555;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.contact-card button:hover {
    background-color: #777;
    border: 1px solid white;
}

.foot {
    background-color: #222;
    color: rgb(250, 249, 249);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.marq {
    text-align: center;
    width: 100%;
}



